
header {
    margin-top: 2.5em;
    font-family: "Roboto Light";
}

header .container {
    background: #333333;
}

header .logo {
    padding: 1.75em 0;
    display: flex;
    justify-content: center;
}

header .menu-container {
    padding: 0;
}

header .top-menu {
    height: 45px;
    background-image: url("../images/header-menu-texture.jpg");
    padding: 0.71em 1.57em;
    display: flex;
    justify-content: flex-end;

}

header .top-menu .contacts {
    display: flex;
    font-size: 1.14em;
}

header .top-menu .contacts a {
    font-family: "Roboto Light";
    color: black;
    display: block;
    margin: 0 1em;
}
header .top-menu .contacts a:hover{
    color: #0099cc;
    text-decoration: none;
}

header .top-menu .contacts a > span {
    color: #0099cc;
    margin-right: 0.5em ;
}

header .top-menu .social{
    display: flex;
}

header .top-menu .social a{
    color: #363634;
    display: block;
    margin: 0 0.5em;
}

header .main-menu {
}

header .main-menu nav{
    background-color: transparent;
    border: none;
    /*height: 80px;*/
    margin: 0;
}
header .main-menu a {
    padding: 2.036em 1.214em;
}

header .main-menu .container-fluid {
    padding: 0;
}
header .main-menu ul.nav{
    float: right;
}
header .main-menu ul.nav>li>a{
    color: #0399da;
    font-family: "Roboto";
    font-weight:bold ;
}
header .main-menu ul.nav>li> a:hover{
    border-bottom: 3px solid #ffed00 ;
    color: #ffed00;!important;
}


header .main-menu form.search {
    position: relative;
    width: 100px;
    margin: 0 auto;
    height: 42px;
}
header .main-menu .search input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
header .main-menu .search input:focus {
    width: 200px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}
header .main-menu .search button {
    background: transparent;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
header .main-menu .search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}


/* ------------------ MEDIA QUERIES -------------*/

/* ------------ Mobile phone -----------------*/
@media (max-width: 767px) {

    header .top-menu {
        margin-left: 0;
    }
    header .top-menu .contacts a{
        margin: 0;
    }
    header .main-menu ul.nav{
        float: left;
    }

    .navbar-header button{
        float: left;
        left: 2em;
    }

}

/* -----------------Tablets and other ------------------*/

@media (min-width: 767px) {
    header .top-menu:before {
        content: "";
        height: 45px;
        width: 45px;
        background: url("../images/header-menu-triangle.png") no-repeat;
        position: absolute;
        left: -0.453em;
        top: 0;
    }

    header .top-menu {
        margin-left: 2.14em;
        padding-left: 1em;
    }


}

@media (max-width: 970px) {
    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding: 1em 3em;
    }
    .collapse.in{
        display:block !important;
    }
}