
/* --------- MAIN -------------*/
main {
    z-index: 10;
}

main .big-slider-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

main .big-slider-container img {
    width: 100%;
}

main .big-slider-container .slick-next, main .big-slider-container .slick-prev {
    width: 40px;
    height: 112px;
    background: #a3a3a3;
    color: white;
    opacity: .4;
}

main .big-slider-container .slick-next:hover, main .big-slider-container .slick-prev:hover {
    opacity: .8;
}

main .big-slider-container .slick-next:before, main .big-slider-container .slick-prev:before {
    background: #a3a3a3;
    color: white;
    font-family: "robotoregular";
}

main .big-slider-container .slick-next {
    right: 0;
}

main .big-slider-container .slick-prev {
    left: 0;
    z-index: 10;
}

main .products-wrapper {
    margin-top: 35%;
    position: relative;
    z-index: 10;
}

main .big-slider-container .slick-dots {
    bottom: 1.429em;
}

main .big-slider-container .slick-dots li.slick-active button:before {
    color: #ffb700;
    font-size: 12px;
}

/* ---------- PRODUCT BLOCK----------*/

main .products-wrapper, main .about-wrapper {
    background-color: #fafafa;
}

main .products-slider-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 2em;
}

main .products-wrapper .title {
    text-align: center;
    font-size: 2.571em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

main .products-slider-container .item {
    margin: 0.5em;
    text-align: center;
}

main .products-slider-container .item img {
    border: 1px solid #cccccc;
    margin: 0 auto;
}

main .products-slider-container .item h3 {
    margin-bottom: 0;
    font-size: 1em;
    color: #000;
}

main .products-slider-container .item .producer {
    color: #0099cc;
    font-weight: 600;
}

main .products-slider-container .item a {
    text-decoration: none;
}

main .products-slider-container .item a:hover img {
    border-color: #ffff00;
}

main .products-slider-container .slick-arrow:before {
    color: black;

}

/* ---------------- NEWS BLOCK----------------------*/

main .news-container {
    font-family: 'Roboto';
}

main .news-wrapper h2 {
    font-size: 2.143em;
    margin-top: 25px;
    text-align: center;
}

main .news-container .description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.143em;
    color: #777777;
    width: 50%;
    margin: 0 auto;
}

main .news-container .news {
    margin-top: 40px;
    margin-bottom: 40px;
}

main .news-container .news h3, main .news .place {
    font-size: 1.286em;
}

main .news-container .news h3 {
    font-weight: 700;
}

main .news-container .news .place {
    font-weight: 300;
}

main .news-container .news .text {
    margin-top: 1.071em;
    text-align: justify;
    font-size: 1em;
}

/* ------------------ ABOUT-------------------*/

main .about-container {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

main .about-container hr.delimiter {
    margin-top: 0;
    margin-left: 0;
}

main .about-container .contacts > .title {
    font-size: 1.857em;
}

main .about-container .address > h3 {
    margin-top: 0;
}

main .about-container .tel h4 {
    font-size: 1em;
}

main .about-container .text p {
    text-align: justify;
    margin-top: 10px;
}

main .about-container .map {
    height: 260px;
}

main .about-container .tel a {
    color: #000;
}

main .about-container .tel .accounting a {
    display: block;
}

main .about-container .about img {
    margin: 0 auto;
    margin-bottom: 2em;
}







