/* ------------------ MEDIA QUERIES -------------*/

/* ------------ Mobile phone -----------------*/
@media (max-width: 767px) {

    header {
        position: relative;
    }
    header .top-menu {
        margin-left: 0;
        height: auto;
        background-size: 100% ;
        padding: 1em;
    }

    header .top-menu .contacts a {
        margin: 0;
    }

    header .main-menu ul.nav {
        float: left;
    }

    header .top-menu .contacts {
        flex-direction: column;
    }

}

/* -----------------Tablets and larger ------------------*/

@media (min-width: 767px) {
    header .top-menu:before {
        content: "";
        height: 45px;
        width: 45px;
        background: url("../images/header-menu-triangle.png") no-repeat;
        position: absolute;
        left: -0.453em;
        top: 0;
    }

    header .top-menu {
        margin-left: 2.14em;
        padding-left: 1em;
    }

}

/* ---------------- Tablets and less------------------*/

@media (max-width: 970px) {
    header {
        margin-top: 0;
    }
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding: 1em 3em;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-header button {
        float: left;
        left: 2em;
    }
    header .main-menu .search label{
        margin-top: 5px;
    }
    header .top-menu .contacts {
        font-size: 1em;
    }
    main .big-slider-container {
        position: relative;
    }




}